  <% if notice %>
    <div class="bg-emerald-50 border-l-4 border-emerald-500 p-4 mb-8">
      <div class="flex">
        <div class="ml-3">
          <p class="text-emerald-700"><%= notice %></p>
        </div>
      </div>
    </div>
  <% end %>
<div class="flex justify-center mt-5 mx-2">
  <div>
    <% if @post == Post.all_posts.first %>
      <%= render partial: "posts/show_post/first_post_content", locals: { post: @post } %>
    <% else %>
      <%= render partial: "posts/show_post/post_content", locals: { post: @post } %>
    <% end %>

    <div class="max-w-[80%] mx-auto mb-5">
      <div class="mt-4 flex flex-col gap-2 text-center">
        <% if @post.user == current_user %>
          <%= link_to "Edit this post", edit_post_path(@post), class: "bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded" %> 
        <% end %>
        <%= link_to "Back to posts", posts_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>

        <% if @post.user == current_user %>
          <%= button_to "Destroy this post", @post, method: :delete, class: "bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-3 mt-5 rounded" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
